@import "tailwindcss";



@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-neon-pink: #ff00ff;
  --color-neon-blue: #00ffff;
  --color-neon-purple: #9d00ff;
  --color-neon-green: #39ff14;

  --color-brand-dark: #050505;
  --color-brand-gray: #121212;
  --color-brand-card: #1e1e1e;

  --font-heading: 'Outfit', sans-serif;
  --font-sans: 'Inter', sans-serif;
}

:root {
  --background: #050505;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}